.container {
    display: flex;
    flex-direction: row;
    background-color: rgb(207, 207, 207);
}
.screen-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 465px;
    height: 200px;
}
.sign {
    text-align: center;
    font-size: 50px;
    width: 110px;  
}
#numberscreen {
    background-color: rgb(207, 207, 207);
    border: none;
    text-align: right;
    font-size: 50px;      
    width: 240px;

}
.operations {
    text-align: center;
    font-size: 50px;
    width: 110px;
}
.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width:fit-content;
    height: fit-content;

}
button {
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
}